# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [1]:
import pandas as pd
import numpy as np

In [2]:
black_friday = pd.read_csv("black_friday.csv")

## Inicie sua análise a partir daqui

In [4]:
black_friday.head()
df = black_friday

In [6]:
aux = black_friday[black_friday['Product_Category_2'].isnull()]

In [17]:
aux['Product_Category_2'].equals(aux['Product_Category_3'])

True

In [20]:
black_friday.query('Gender == \"F\" and Age==\"26-35\"').count()

User_ID                       49348
Product_ID                    49348
Gender                        49348
Age                           49348
Occupation                    49348
City_Category                 49348
Stay_In_Current_City_Years    49348
Marital_Status                49348
Product_Category_1            49348
Product_Category_2            33122
Product_Category_3            13364
Purchase                      49348
dtype: int64

In [12]:
aux[aux['Product_Category_3']]

KeyError: "None of [Float64Index([nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,\n              ...\n              nan, nan, nan, nan, nan, nan, nan, nan, nan, nan],\n             dtype='float64', length=166986)] are in the [columns]"

In [5]:
df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537577 entries, 0 to 537576
Data columns (total 12 columns):
User_ID                       537577 non-null int64
Product_ID                    537577 non-null object
Gender                        537577 non-null object
Age                           537577 non-null object
Occupation                    537577 non-null int64
City_Category                 537577 non-null object
Stay_In_Current_City_Years    537577 non-null object
Marital_Status                537577 non-null int64
Product_Category_1            537577 non-null int64
Product_Category_2            370591 non-null float64
Product_Category_3            164278 non-null float64
Purchase                      537577 non-null int64
dtypes: float64(2), int64(5), object(5)
memory usage: 49.2+ MB

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [7]:
def q1():
    # Retorne aqui o resultado da questão 1.
    return df.shape

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [51]:
def q2():
    # Retorne aqui o resultado da questão 2.
    female_filtered = df.loc[(df['Age'] == '26-35') & (df['Gender'] == 'F')]
    return int(female_filtered.shape[0])

49348

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [52]:
def q3():
    # Retorne aqui o resultado da questão 3.
    return df['User_ID'].nunique()

5891

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [16]:
def q4():
    # Retorne aqui o resultado da questão 4.
    return df.dtypes.nunique()

3

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [19]:
def q5():
    # Retorne aqui o resultado da questão 5.
    return (df.shape[0] - df.dropna().shape[0]) / df.shape[0]

0.6944102891306734

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [21]:
def q6():
    # Retorne aqui o resultado da questão 6.
    return int(df.isna().sum().max())

373299

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [22]:
def q7():
    # Retorne aqui o resultado da questão 7.
    cleaned_column = df['Product_Category_3'].dropna()
    return cleaned_column.mode()[0]

16.0

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [34]:
def q8():
    # Retorne aqui o resultado da questão 8.
    min_max = (df['Purchase'] - df['Purchase'].min()) \
            / (df['Purchase'].max() - df['Purchase'].min())
    return float(min_max.mean())

0.3847939036269795

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [11]:
def q9():
    # Retorne aqui o resultado da questão 9.
    df_normalized = (df['Purchase'] - df['Purchase'].mean()) / df['Purchase'].std()
    return int(df_normalized.between(-1,1).sum())

q9()

348631

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [29]:
def q10():
    # Retorne aqui o resultado da questão 10.
    df_aux = df[['Product_Category_2','Product_Category_3']]
    df_aux = df_aux[df_aux['Product_Category_2'].isna()]
    return df_aux['Product_Category_2'].equals(df_aux['Product_Category_3'])

True